<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='world.png') }}" type="image/png">
    <title>Formulario de Nombres</title>
</head>
<body>
   <div>
       <h2>Formulario de Nombres</h2>
       <form method="POST">
    <!-- Campo para nombre 1 -->
    <label for="nombre1">Nombre 1:</label>
    <input type="text" id="nombre1" name="nombre1" required value="{{ nombre1}}">
    <br><br>

    <!-- Campo para nombre 2 -->
    <label for="nombre2">Nombre 2:</label>
    <input type="text" id="nombre2" name="nombre2" required value="{{ nombre2}}">
    <br><br>

    <!-- Campo para nombre 3 -->
    <label for="nombre3">Nombre 3:</label>
    <input type="text" id="nombre3" name="nombre3" required value="{{ nombre3}}">
    <br><br>
           <!-- Botón para enviar el formulario -->
    <button type="submit">Enviar</button>
       </form>
       {% if resultado %}
        <p>{{ resultado|safe }}</p>  <!-- safe permite mostrar HTML como <br> -->
       {% endif %}
   </div>
</body>
</html>